@font-face {
    font-family: 'Raleway-Bold';
    src: url(/hw10/fonts/Raleway/static/Raleway-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Raleway-Light';
    src: url(/hw10/fonts/Raleway/static/Raleway-Light.ttf);
    font-style: normal;
    font-weight: 400;
}